

<h2>Report a Problem</h2>
<div data-alert class="alert">
  <%=@problem_message%>
  <a href="#" class="close">&times;</a>
</div>

<form action="/problems/new" method="POST">
    <h3><label>Problem Title</label></h3>
    <input type="text" name="problem[title]"><br>

    <h3><label>Problem Description</label></h3>
    <textarea name="problem[description]" rows="8" cols="80"></textarea><br>

    <h3><label>Problem Location</label></h3>
    <input type="text" name="problem[location]"><br>

    <h3><label>Problem Category</label></h3>
    <input type="text" name="problem[category]"><br>

    <h3><label>Problem Severity</label></h3>
    <select name="problem[severity]">
      <option value="critical">Critical</option>
      <option value="severe">Severe</option>
      <option value="moderate">Moderate</option>
      <option value="low">Low</option>
    </select>
    
    <h3><label>Problem Tags</label></h3>
    <input type="text" name="problem[tags]"><br>

    <input type="submit" value="Report Problem">
</form>
